*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

/* haeder */
header{
    width: 100%;
    height: 600px;
    background: #c2af0848;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(17, 94%, 40%, 0.945), hsla(177, 85%, 53%, 0.486)), url(../img/portada.jpg.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #932a1e21, hsla(14, 85%, 46%, 0.74)), url(../img/portada.jpg.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav  a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color:  black;
}

.texto-header h2{
    font-size: 30px;
    font-weight: 300;
    color: black;
}    


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Nuestro servicio */

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicios{
    background:#c2af0848;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
   
}



.gallery{
    background: #c2af0848;  
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.img-galeria{
    object-fit: cover;
    width: 350px;
    height: 350px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0,  .5);
    cursor: pointer;
}



#video, video{
    background-color: black;
    margin: 0 auto;
    padding-top: 50px;
    width: 24%;
    height: 400px;
    justify-content: center;
    align-items: center;
    
    
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}


.agregar-imagen{
    object-fit: cover;
    width: 30%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showimage{
    transform: scale(1);
}


.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-experts{
    width: 19%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-experts img{
    width: 90%;
    display: block;
    margin: auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;    
}

/** tabla **/

body{
    background: #dfe2df;
    font-family: 'open sans';
}

.cont-tabla{
    width: 90%;
    max-width:900px;
    margin: auto;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tabla{
    width: 63%;
    height: 350px;
    margin: auto;
    border:1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:35px;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: rgb(214, 153, 20);
    text-decoration: none;
    color: #343759;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover, .hover{
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}


/* footer */

footer{
    background:  #c2af0848;
    padding-bottom: 0.1px; 
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: black;
}

.brand{
    font-weight: 300;
    font-size: 30px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.social-media-icon:hover{
    background: rgba(50, 3, 218, 0.897);
    color: black;
}


.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 120%;
    max-width: 1200px;
    margin: 4px;
    height: 2px;
    background: black;
    margin-bottom: 60px;
}

  


.titulo-footer,
.subtitulo-footer {
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    background: black;
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,

textarea:focus {
    border-top: 5px solid black;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: black;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'open sans';
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 15px;
    border: none;
    color: #fff;
    background: black;
    width: 110px;
}


@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicios img{
        width: 80%;
        margin-bottom: 40px;   
    }

    .checklist-servicios{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }
    
    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-experts{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    

        .titulo{
            font-size: 30px;
        }

        .subtitulo{
            font-size: 30px;
        }

        .agregar-imagen{
            width: 95%;
        }

        .img-galeria{
            width: 95%;
        }

        .social-media{
            width: 100%;
        }

        .contact-us{
            width: 90%;
        }

       
    }


    



    
    
